/* Import Font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Variables and Roots */
:root {
  font-size: 15px;
  --font-default: sans-serif;
  --font-primary: "Big Shoulders Display", cursive;
  --font-secondary: "Lexend Deca", sans-serif;
  --color-01: hsl(31, 77%, 52%);
  --color-02: hsl(184, 100%, 22%);
  --color-03: hsl(179, 100%, 13%);
  --color-p: hsla(0, 0%, 100%, 0.75);
  --color-bg: hsl(0, 0%, 95%);
  --color-h: hsl(0, 0%, 95%);
  --color-btn: hsl(0, 0%, 95%);
}

/* Global Styles */
* {
  font-family: var(--font-default);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Attribution CSS */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
